* {
    padding: auto;
    margin: 0 auto;
}

.bg-dark-green {
    background:#0C9E0B;
}

.bg-dark-grey {
    background:#2c3e50;
}

.bg-light-grey {
    background:#34495e;
}

.bg-light-green {
    background: #1AD618;
}

.page-footer ul li a {
    color: white;
}

.menu .btn {
    margin-bottom: 5px;
}

.logged-info {
    float:left;
}

.logout {
    float:right;
}

a {
    color: #C91F12;
}